<ion-navbar *navbar primary>
  <ion-title>Мэдээлэл оруулах</ion-title>
  <ion-buttons right>
    <button (click)="saveInfo()">
      <ion-icon name="ios-paper-plane"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>

<ion-content padding class="add-info">
  <ion-list>
    <ion-item>
      <ion-label fixed>Төрөл</ion-label>
        <ion-select [(ngModel)]="item.type">
          <ion-option value="restaurant">Restaurant</ion-option>
          <ion-option value="nightclub">Night Club</ion-option>
          <ion-option value="resort">Resort</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
      <ion-label fixed>Нэр</ion-label>
      <ion-input type="text" value="" [(ngModel)]="item.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Утас</ion-label>
      <ion-input type="text" [(ngModel)]="item.phone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Нээх цаг</ion-label>
      <ion-select [(ngModel)]="item.opentime">
        <ion-option *ngFor="let ohour of ohours" value="{{ohour}}">{{ohour}}:00</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label fixed>Хаах цаг</ion-label>
      <ion-select [(ngModel)]="item.closetime">
        <ion-option *ngFor="let ehour of ehours" value="{{ehour}}">{{ehour}}:00</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <hr>
  <div>Байршил:</div>
  <button (click)="addLocation()">
    <ion-icon name="ios-navigate-outline"></ion-icon>
  </button>
  <hr>
  <div>Зурагнууд:</div>
  <div>
    <img *ngFor="let photo of photos" src="data:image/jpeg;base64,{{photo}}" style="border: 1px solid #171f32;margin-right: 5px;margin-top: 5px; width: 100px;">
  </div>
  <button (click)="addPhoto()">
      <ion-icon name="ios-camera"></ion-icon>
  </button>
</ion-content>
